.wrapper{
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
}

#front {
   font-size: 10px;
}

.album {
   h1{
      font-weight: 700;
      color: black;
   }
  
   h2{
      font-weight: lighter;
      color: black;
   }
}

#back {
   font-size: 30px;
}

.album {
   h1 {
      font-size: 40 px;
      font-weight: 700;
      color: black;
   }

   h2 {
      font-size: 25 px;
      font-weight: 300;
      color: black;
   }
   h3 {
      
   }

}






 
 
